{
  "extends": "eslint:recommended",
  "rules": {
    "eqeqeq": ["error", "smart"],
    "indent": ["warn", 4, { "SwitchCase": 1 }],
    "quotes": ["warn", "single"],
    "semi": ["warn", "always"]
  },
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "ignorePatterns": ["dist", "pkg"]
}